{{#if hub}}
  {{! status }}
  <div class="layout-row layout-xs-column">

    {{! hub status }}
    <div class="layout-column flex-xs flex-gt-xs-50">
      <div data-test="status">
        {{#paper-card as |card|}}
          {{#card.title as |title|}}
            {{#title.text as |text|}}
              {{#text.headline}}
                {{#if hub.isOnline}}
                  <span data-test="online">{{t "components.hubStatus.hub.online"}}</span>
                {{else}}
                  <span data-test="offline">{{t "components.hubStatus.hub.offline"}}</span>
                {{/if}}
              {{/text.headline}}
              {{#text.subhead}}
                {{#if hub.isOnline}}
                  {{paper-icon "thumb-up" size=36}}
                {{else}}
                  {{paper-icon "error" size=36}}
                {{/if}}
              {{/text.subhead}}
            {{/title.text}}
          {{/card.title}}
        {{/paper-card}}
      </div>
    </div>

    {{! hub info }}
    <div class="layout-column flex-xs flex-gt-xs-50">
      <div data-test="activity">
        {{#paper-card as |card|}}
          {{#card.title as |title|}}
            {{#title.text as |text|}}
              {{#text.headline}}
                {{t "components.hubStatus.hub.lastActive"}}
              {{/text.headline}}
              {{#text.subhead}}
                <span data-test="last">
                  {{#if hub.lastActivity}}
                    {{hub.lastActivity}}
                  {{else}}
                    {{t "components.hubStatus.hub.noActivity"}}
                  {{/if}}
                </span>
              {{/text.subhead}}
            {{/title.text}}
          {{/card.title}}
        {{/paper-card}}
      </div>
    </div>
  </div>

  <div class="layout-row layout-xs-column">

    {{! taps }}
    <div class="layout-column flex-xs flex-gt-xs-50">
      {{#if session.isAuthenticated}}
        <div data-test="add-tap">
          {{#paper-button raised=true primary=true onClick=(action "addTapRedirect")}}
            {{t "components.hubStatus.taps.add"}}
          {{/paper-button}}
        </div>
      {{/if}}
      <div class="list-padding">
        {{#each hub.taps as |tap|}}
          <div data-test="tap">
            {{#paper-content class="md-whiteframe-z1 list-demo"}}
              {{#paper-list}}
                {{#paper-item class="md-3-line"}}
                  {{paper-icon "local-drink" size=36}}
                  <div class="md-list-item-text">
                    <h3>{{tap.name}}</h3>
                    <h4>
                      {{#if tap.nitro}}
                        {{t "components.hubStatus.taps.nitro"}}
                      {{else}}
                        {{t "components.hubStatus.taps.co2"}}
                      {{/if}}
                    </h4>
                    <p>
                      {{#if tap.beer}}
                        {{t "components.hubStatus.taps.pouring" beer=tap.beer.name}}
                      {{else}}
                        {{t "components.hubStatus.taps.notPouring"}}
                      {{/if}}
                    </p>
                  </div>
                {{/paper-item}}
                {{paper-divider}}
              {{/paper-list}}
            {{/paper-content}}
          </div>
        {{else}}
          <p data-test="no-taps">{{t "components.hubStatus.taps.none"}}</p>
        {{/each}}
      </div>
    </div>

    {{! sensors }}
    <div class="layout-column flex-xs flex-gt-xs-50">
      {{#if session.isAuthenticated}}
        <div data-test="add-sensor">
          {{#paper-button raised=true primary=true onClick=(action "addSensorRedirect")}}
            {{t "components.hubStatus.sensors.add"}}
          {{/paper-button}}
        </div>
      {{/if}}
      <div class="list-padding">
        {{#each hub.sensors as |sensor|}}
          <div data-test="sensor">
            {{#paper-content class="md-whiteframe-z1 list-demo"}}
              {{#paper-list}}
                {{#paper-item class="md-3-line"}}
                  {{paper-icon "ac-unit" size=36}}
                  <div class="md-list-item-text">
                    <h3>{{sensor.name}}</h3>
                    <h4>{{sensor.type}}</h4>
                    <p>
                      <span data-test="temp">
                        {{#if sensor.temperature}}
                          <span data-test="temp-readout">
                            {{sensor.temperature}}{{t "app.units.celsius"}}
                          </span>
                        {{else}}
                          <span data-test="no-temp">{{t "components.hubStatus.sensors.noTemp"}}</span>
                        {{/if}}
                      </span>
                      {{#if sensor.humidity}}
                        <span data-test="humid">
                          {{t "components.hubStatus.sensors.humidity" humidity=sensor.humidity}}
                        </span>
                      {{/if}}
                    </p>
                  </div>
                {{/paper-item}}
                {{paper-divider}}
              {{/paper-list}}
            {{/paper-content}}
          </div>
        {{else}}
          <p data-test="no-sensors">{{t "components.hubStatus.sensors.none"}}</p>
        {{/each}}
      </div>
    </div>
  </div>
{{else}}
  {{! there is no hub setup - if authenticated let user initialize one }}
  <p data-test="not-setup">{{t "components.hubStatus.hub.none"}}</p>
  {{#if session.isAuthenticated}}
    <div data-test="add-hub">
      {{#paper-button raised=true primary=true onClick=(action "setupHub")}}
        {{t "components.hubStatus.hub.add"}}
      {{/paper-button}}
    </div>
  {{/if}}
{{/if}}
