{{#if hub}}
  {{! status }}
  <div class="layout-row layout-xs-column">
    {{! hub status }}
    <div class="layout-column flex-xs flex-gt-xs-50">
      {{#paper-card as |card|}}
        {{#card.title as |title|}}
          {{#title.text as |text|}}
            {{#text.headline}}Hub{{/text.headline}}
            {{#text.subhead}}{{hub.status}}{{/text.subhead}}
            {{#if session.isAuthenticated}}
              {{#text.subhead}}{{hub.id}}{{/text.subhead}}
            {{/if}}
            {{#text.subhead}}Last Activity: {{hub.lastActivity}}{{/text.subhead}}
          {{/title.text}}
        {{/card.title}}
      {{/paper-card}}
    </div>

    {{! temperature }}
    <div class="layout-column flex-xs flex-gt-xs-50">
      {{#paper-card as |card|}}
        {{#card.title as |title|}}
          {{#title.text as |text|}}
            {{#text.headline}}Weather{{/text.headline}}
            {{#text.subhead}}Lower Temperature: {{hub.lowerTemp}}{{/text.subhead}}
            {{#text.subhead}}Upper Temperature: {{hub.upperTemp}}{{/text.subhead}}
            {{#text.subhead}}Humidity: {{hub.humidity}}{{/text.subhead}}
          {{/title.text}}
        {{/card.title}}
      {{/paper-card}}
    </div>
  </div>

  {{! add tap }}
  {{#if session.isAuthenticated}}
    <div>
      {{#paper-button raised=true primary=true onClick=(action "addTapRedirect")}}
        {{t "components.hubStatus.taps.add"}}
      {{/paper-button}}
    </div>
  {{/if}}

  {{! taps }}
  <div class="layout-row layout-xs-column">
    {{#each hub.taps as |tap|}}
      <div class="layout-column flex-xs flex-gt-xs-50">
        {{#paper-card as |card|}}
          {{#card.title as |title|}}
            {{#title.text as |text|}}
              {{#text.headline}}{{tap.name}}{{/text.headline}}
              {{#if session.isAuthenticated}}
                {{#text.subhead}}{{tap.id}}{{/text.subhead}}
              {{/if}}
              {{#text.subhead}}Nitro: {{tap.nitro}}{{/text.subhead}}
              {{#text.subhead}}
                {{#if tap.beer}}
                  Currently Pouring: {{tap.beer.name}}
                {{else}}
                  Empty
                {{/if}}
              {{/text.subhead}}
            {{/title.text}}
          {{/card.title}}
          {{#if session.isAuthenticated}}
            {{#card.actions}}
              {{#paper-button iconButton=true onClick=(action "deleteTap" tap)}}
                {{paper-icon "delete"}}
              {{/paper-button}}
            {{/card.actions}}
          {{/if}}
        {{/paper-card}}
      </div>
    {{else}}
      {{! no taps}}
      <p>{{t "components.hubStatus.taps.none"}}</p>
    {{/each}}

  </div>
{{else}}
  {{! there is no hub setup - if authenticated let user initialize one }}
  <p>{{t "components.hubStatus.hub.none"}}</p>
  {{#if session.isAuthenticated}}
    {{#paper-button raised=true primary=true onClick=(action "setupHub")}}
      {{t "components.hubStatus.hub.add"}}
    {{/paper-button}}
  {{/if}}
{{/if}}
