{{#if hub}}
  {{! status }}
  <div class="layout-row layout-xs-column">
    {{! hub status }}
    <div class="layout-column flex-xs flex-gt-xs-50">
      <div data-test="status">
        {{#paper-card as |card|}}
          {{#card.title as |title|}}
            {{#title.text as |text|}}
              {{#text.headline}}
                {{t "components.hubStatus.hub.title"}}
              {{/text.headline}}
              {{#if session.isAuthenticated}}
                {{#text.subhead}}{{hub.id}}{{/text.subhead}}
              {{/if}}
              {{! TODO fuzzy time - last active }}
              {{#text.subhead}}
                {{#if hub.isOnline}}
                  {{paper-icon "thumb-up"}} <italic>{{t "components.hubStatus.hub.online"}}</italic>
                {{else}}
                  {{paper-icon "error"}} <italic>{{t "components.hubStatus.hub.offline"}}</italic>
                {{/if}}
              {{/text.subhead}}
            {{/title.text}}
          {{/card.title}}
        {{/paper-card}}
      </div>
    </div>

    {{! temperature }}
    <div class="layout-column flex-xs flex-gt-xs-50">
      <div data-test="weather">
        {{#paper-card as |card|}}
          {{#card.title as |title|}}
            {{#title.text as |text|}}
              {{#text.headline}}{{t "components.hubStatus.hub.weather"}}{{/text.headline}}
              <div class="layout-row layout-xs-column">
                {{! TODO when null temps - display "--"}}
                <div class="layout-column flex-xs flex-gt-xs-50">
                  <h2>{{hub.lowerTemp}}{{t "app.units.fahrenheit"}}</h2>
                  <small>{{t "components.hubStatus.hub.low"}}</small>
                </div>
                <div class="layout-column flex-xs flex-gt-xs-50">
                  <h2>{{hub.upperTemp}}{{t "app.units.fahrenheit"}}</h2>
                  <small>{{t "components.hubStatus.hub.up"}}</small>
                </div>
                <div class="layout-column flex-xs flex-gt-xs-50">
                  <h2>{{hub.humidity}}%</h2>
                  <small>{{t "components.hubStatus.hub.humidity"}}</small>
                </div>
              </div>
            {{/title.text}}
          {{/card.title}}
        {{/paper-card}}
      </div>
    </div>
  </div>

  {{! add tap }}
  {{#if session.isAuthenticated}}
    <div data-test="add-tap">
      {{#paper-button raised=true primary=true onClick=(action "addTapRedirect")}}
        {{t "components.hubStatus.taps.add"}}
      {{/paper-button}}
    </div>
  {{/if}}

  {{! taps }}
  <div class="layout-row layout-xs-column">
    {{#each hub.taps as |tap|}}
      <div class="layout-column flex-xs flex-gt-xs-50">
        <div data-test="tap">
          {{#paper-card as |card|}}
            {{#card.title as |title|}}
              {{#title.text as |text|}}
                {{#text.headline}}{{tap.name}}{{/text.headline}}
                {{#if session.isAuthenticated}}
                  {{#text.subhead}}
                    {{tap.id}}
                  {{/text.subhead}}
                {{/if}}
                {{#text.subhead}}
                  {{#if tap.beer}}
                    {{t "components.hubStatus.taps.pouring"}} {{tap.beer.name}}
                  {{else}}
                    {{t "components.hubStatus.taps.notPouring"}}
                  {{/if}}
                {{/text.subhead}}
                {{#if tap.nitro}}
                  {{#text.subhead}}
                    {{paper-icon "stars"}} {{t "components.hubStatus.taps.nitro"}}
                  {{/text.subhead}}
                {{/if}}
              {{/title.text}}
            {{/card.title}}
            {{#if session.isAuthenticated}}
              {{#card.actions}}
                {{#paper-button iconButton=true onClick=(action "deleteTap" tap)}}
                  {{paper-icon "delete"}}
                {{/paper-button}}
              {{/card.actions}}
            {{/if}}
          {{/paper-card}}
        </div>
      </div>
    {{else}}
      {{! no taps}}
      <p data-test="no-taps">{{t "components.hubStatus.taps.none"}}</p>
    {{/each}}

  </div>
{{else}}
  {{! there is no hub setup - if authenticated let user initialize one }}
  <p data-test="not-setup">{{t "components.hubStatus.hub.none"}}</p>
  {{#if session.isAuthenticated}}
    <div data-test="add-hub">
      {{#paper-button raised=true primary=true onClick=(action "setupHub")}}
        {{t "components.hubStatus.hub.add"}}
      {{/paper-button}}
    </div>
  {{/if}}
{{/if}}
