{{#paper-card as |card|}}
  {{#card.content class="layout-column layout-align-center"}}

    {{! email }}
    <div data-test="email">
      {{paper-input
        label=(t "components.login.email")
        type="email"
        value=email
        required=true
        onChange=(action (mut email))
        errors=validations.attrs.email.messages}}
    </div>

    {{! password }}
    <div data-test="password">
      {{paper-input
        label=(t "components.login.password")
        type="password"
        value=password
        required=true
        onChange=(action (mut password))
        errors=validations.attrs.password.messages}}
    </div>

  {{/card.content}}
  {{#card.actions}}
    {{#if isLoggingIn}}
      <div data-test="loading">
        {{paper-progress-circular}}
      </div>
    {{else}}
      <div data-test="submit">
        {{#paper-button raised=true primary=true onClick=(action "login")}}
          {{t "components.login.action"}}
        {{/paper-button}}
      </div>
    {{/if}}
  {{/card.actions}}
{{/paper-card}}
