{{#if session.isAuthenticated}}
  <div data-test="add-beer">
    {{#paper-button raised=true accent=true onClick=(action "addBeer")}}
      {{t "components.onTap.add"}}
    {{/paper-button}}
  </div>
{{/if}}

{{#each beers as |beer|}}
  <div data-test="beer">
    {{#paper-card as |card|}}
      {{#card.title as |title|}}
        {{#title.text as |text|}}
          {{#text.headline}}
            <span data-test="name">{{beer.name}}</span>
          {{/text.headline}}
          {{#text.subhead}}
            <span data-test="style">{{beer.style}} - {{beer.abv}}%</span>
          {{/text.subhead}}
          {{! TODO }}
          <!-- {{#if beer.tap.nitro}}
            {{#text.subhead}}
              {{paper-icon "stars"}} {{t "components.onTap.nitro"}}
            {{/text.subhead}}
          {{/if}} -->
        {{/title.text}}
      {{/card.title}}
      {{#card.actions}}
        {{#if session.isAuthenticated}}
          {{! delete }}
          {{#paper-button iconButton=true onClick=(action "archiveBeer" beer)}}
            {{paper-icon "delete"}}
          {{/paper-button}}
        {{/if}}
      {{/card.actions}}
    {{/paper-card}}
  </div>
{{else}}
  <p data-test="empty">{{t "components.onTap.empty"}}</p>
{{/each}}
