{{#paper-sidenav-container class="inner-sidenav"}}

  {{! side navigation }}
  {{#paper-sidenav
    class="md-whiteframe-z2"
    name="left"
    open=leftSideBarOpen
    onToggle=(action (mut leftSideBarOpen))
  }}
    {{#paper-toolbar as |toolbar|}}
      {{#paper-toolbar-tools}}
        {{t "app.name"}}
      {{/paper-toolbar-tools}}
    {{/paper-toolbar}}
    {{#paper-content}}
      {{#paper-list}}
        {{! main }}
        {{#paper-item}}
          {{link-to (t "app.navigation.onTap") 'index'}}
        {{/paper-item}}
        {{#paper-item}}
          {{link-to (t "app.navigation.status") 'status'}}
        {{/paper-item}}
        {{#paper-item}}
          {{t "app.navigation.history"}}
        {{/paper-item}}
        {{paper-divider}}

        {{! misc. }}
        {{#paper-item}}
          {{t "app.navigation.about"}}
        {{/paper-item}}
        {{#paper-item}}
          {{#if session.isAuthenticated}}
            <span {{action "logout"}} class="link">
              {{t "app.navigation.logout"}}
            </span>
          {{else}}
            {{link-to (t "app.navigation.login") 'login'}}
          {{/if}}
        {{/paper-item}}
      {{/paper-list}}
    {{/paper-content}}
  {{/paper-sidenav}}

  {{#paper-card-content class="flex"}}
    <div class="layout-fill layout-column">

      {{! toolbar }}
      {{#paper-toolbar as |toolbar|}}
        {{#toolbar.tools}}
          {{#paper-sidenav-toggle name="left" class="hide-gt-sm" as |toggleAction|}}
            {{#paper-button iconButton=true onClick=(action toggleAction)}}
              {{paper-icon "menu"}}
            {{/paper-button}}
          {{/paper-sidenav-toggle}}
          <h2>{{t "app.name"}}</h2>
          <span class="flex"></span>
        {{/toolbar.tools}}
      {{/paper-toolbar}}

      {{! content }}
      <div class="application-container">
        {{outlet}}
      </div>

    </div>
  {{/paper-card-content}}

{{/paper-sidenav-container}}
